@model ItemModel

@{
    ViewData["Title"] = "Editar item";
}

<div class="text-center">

    <h1 class="display-4">Editar item</h1>


<form asp-controller="Itens" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do item">
    </div>

    </br>

    <div class="form-group">
        <label for="numero" class="form-label">Codigo</label>
        <input type="number" asp-for="Codigo" class="form-control" placeholder="Digite o codigo de controle do item">
    </div>

    </br>

    <button type="submit" class="btn btn-primary ">Adicionar</button>
    <a class="btn btn-secondary " asp-controller="Itens" asp-action="Index" role="button">Voltar</a>

</form>
</div>